<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="about-blurb hidden-xs">
        <h6 class="section-header">About</h6>
        <p>URBO provides safe and reliable medical marijuana delivery in the San Francisco Bay Area.</p>
      </div>

      <div class="footer-links">
        <h6 class="section-header">Information</h6>
        <ul class="list-unstyled">
          <li><%= link_to("About URBO", "#") %></li>
          <li><%= link_to("Become a Driver", "#") %></li>
          <li><%= link_to("FAQs", "#") %></li>
          <li><%= link_to("Member Support", "#") %></li>
        </ul>
      </div>

      <div class="app-links">
        <h6 class="section-header">Mobile App</h6>
        <p><%= image_tag("app-store-badge.svg") %></p>
        <p><%= icon('android') %> URBO for Android coming soon.</p>
      </div>
    </div>
    <div class="row">
      <div class="copyright">
        <p>Copyright 2014. All rights reserved. <%= link_to("Terms", "#") %> &middot; <%= link_to("Privacy", "#") %></p>
      </div>
    </div>
  </div>
</footer>