<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or "URBO" %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= render "shared/scripts" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="default-layout <%= body_classes %>">
  <%= render "shared/navbar" %>

  <div class="<%= wrapper_classes %>">
    <%= yield %>
  </div>

  <%= render "shared/footer" %>

  <div id="registration-container"></div>
  <%= render "shared/notifications" %>
</body>
</html>
